@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 18%, 26%);
}
span{
    color: black;
    font-weight: 700;
}

.Container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 35px;
  gap: 2rem;
}

.textPart {
  width: 50%;
  max-width: 420px;
  padding: 1rem;
  padding-left: 2rem;
}

.Container h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.Description {
  margin-bottom: 2.5rem;
}

.check {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

 .labels {
  font-size: small;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Container input {
  padding: 18px;
  width: 100%;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 6px;
  margin-bottom: 1.4rem;
  cursor: pointer;
}

.Container input:focus {
  border: none;
  outline: 1px solid black;
}

button {
  padding: 18px;
  width: 100%;
  color: white;
  font-weight: 700;
  background: hsl(235, 18%, 26%);
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 6px;
  cursor: pointer;
}

 button:hover,
 button:active {
  background-image: linear-gradient(to right, #f8316d, #ff6b30);
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
}

.Images {
  display: flex;
  align-items: center;
}

.ThankyouContainer {
    width: 30%;
    background: #fff;
    display: flex;
    display: none;
    flex-direction: column;
    gap: 2.2rem;
    padding: 4rem;
    border-radius: 5%;
}

.ThankyouContainer h1 {
    font-size: 54px;
    font-weight: 700;
  }

#enValidEmail{
    display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: white;
}
.attribution a {
  color: hsl(24, 93%, 56%);
}

@media screen and (max-width: 600px){
    body{
        display: block;
    }
    .Container{
        width: 100%;
        height: 100vh;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
        border-radius: 0;
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
        gap: 0.4rem;
    }

    .textPart{
        width: 90%;
        padding-left: 0;
        padding-bottom: 0;
    }

    .Container h1{
        font-size: 42px;
    }

    .Images{
        display: block;
    }

    .ThankyouContainer{
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 1.5rem;
    }

    .successful{
        margin-top: 50%;
    }

    .ThankyouContainer button{
        position: absolute;
        bottom: 6%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }



    .attribution{
        color: black;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        width: 100%;
    }
}

